
/* .swiper {
   width: 100%;
   height: 100%;
   margin-top: 70px;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
} */

#swiperMain img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#swiperMain .swiper-button-next,
#swiperMain .swiper-button-prev {
   color: white; 
}

#swiperMain .swiper-pagination-bullet {
   background: rgb(225, 225, 225);
   width: 13px;
   height: 13px;
}
#swiperMain .swiper-pagination-bullet-active {
   background: white;
   width: 14px;
   height: 14px;
}

/* #swiperMain .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
   height: 12px;
} */

@media screen and (max-width: 640px) {

   #swiperMain .swiper-button-next::after,
   #swiperMain .swiper-button-prev::after {
      font-size: 30px;
   }
}
