.buton_register{
    background-color: #e7294f;
    text-align: center;
    border-radius: 8px;
    padding: 6px 0;
}
.buton_into{
    text-align: center;
    border-radius: 8px;
    padding: 4px 0px;
    outline: 2px solid #e7294f;
}

.buton_register:hover{
    background-color: #e0163f;
}